@import '/src/assets/styles/styles-variables.scss';

footer {
    display: flex;
    padding: 15px;
    font-size: 12px;
    justify-content: space-between;
}

.tab {
    padding: 0px;
    position: absolute;
    left: 2px;
    top: 0;
    zoom: 0.9;
}
mat-icon {
    padding-top: 5px;
}

.tabContainer {
    position: fixed;
    bottom: -105px;
    width: 72%;
    z-index: 9;
    overflow: hidden;
}
.tabContent {
    height: 130px;
    background-color: #fff;
}
