@import '/src/assets/styles/styles-variables.scss';
:host {
    float: left;
    color: mat-color($hover-bg, 600);
    font-size: 13px;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: mat-color($hover-bg, 600);
}

input {
    font-family: 'Rand';
    font-size: larger;
}
.example-container {
    background-color: white;
    border-radius: 2px;
    margin: 0px auto;
    margin-top: 10%;
    padding-top: 4%;
    width: 450px;
    height: 450px;
    text-align: center;
}

.form-container {
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
}

.form-field {
    display: block;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0.5em;
}

.button {
    color: white;
    font-family: 'Rand';
    font-weight: bold;

    width: 100%;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-button-disabled {
    color: white;
    background-color: mat-color($webapp-primary, 900, 80%);
}

.form-field.ng-invalid.ng-touched {
    border-style: none;
}

.error {
    margin-top: 0px;
}

.serverError {
    margin-top: 20px;
    color: mat-color($webapp-warn);
}

::ng-deep {
    .form-field .mat-form-field-subscript-wrapper {
        margin-top: 0.1em;
    }

    .form-field.ng-invalid.ng-touched {
        border-color: grey;
    }
}

input[type='password'] {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    /* speak: none; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

    /* add spacing to better separate each image */
    letter-spacing: 2px;
}
