.Item > span {
    position: relative;
    top: 10%;
}

.Item {
    height: 65px;
    width: 100px;
}

.button {
    background: rgba(240, 235, 229, 0.9) none repeat scroll 0 0;
    border: 1px solid #00000060;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Poppins, Roboto;
    font-size: 16px;
    line-height: 1.4;
    margin: 3px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.Group {
    min-height: 65px;
    width: 120px;
}

.groupName {
    font-size: 16px;
    width: 50%;
}

.center3 {
    position: relative;
    top: 20% !important;
}

#subWindow {
    // position: absolute;
    // top: 30%;
    // left: 10px;
    position: relative !important;
    min-width: 250px;
    min-height: 70px;
    // padding: 15px;
    z-index: 9999;
}

.header {
    position: relative;
    top: -10px;
}

.close.mat-button {
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    z-index: 99999;
}
