<mat-sidenav-container class="sidenav-container" (contextmenu)="onContextMenu($event)">
    <!-- <app-numpad *ngIf="!order.user.id"></app-numpad> -->
    <!-- TABS    -->

    <!-- [@.disabled]="exp"
        [(selectedIndex)]="selectedIndex"
        (swipeleft)="swipeTab(1)"
        (swiperight)="swipeTab(-1)"
        (click)="clickedItem($event); (false)"
        (contextmenu)="subClick($event); (false)"
        mat-swipe-content="1"
        *ngIf="order" -->

    <mat-tab-group
        id="itemTabs"
        hidden="order.user.id"
        [selectedIndex]="selectedIdx"
        [color]="'accent'"
    >
        <!-- <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon aria-label="Side nav toggle icon">view_carousel</mat-icon>
                <span class="iconText">plan</span>
            </ng-template>

            <app-tables></app-tables>
        </mat-tab> -->
        <mat-tab *ngIf="filter.length">
            <ng-template mat-tab-label>
                <span class="iconText">Search:</span>
            </ng-template>
            <div cdkScrollable class="md-no-animation">
                <div>
                    <br clear="left" />
                    <div clear="left" class="groupDevider">
                        <span *ngIf="filtered.length" class="groupName"> Filtered Items</span>
                        <span *ngIf="!filtered.length" class="groupName"> No Items Found</span>
                    </div>

                    <div *ngFor="let item of filtered">
                        <div
                            *ngIf="item.name.length > 0 && item.price"
                            class="resize button Item"
                            [class.Group]="item.items?.length "
                            attr.data-id="{{ item.id }}"
                            (click)="markItem(item)"
                        >
                            <span class="center3">{{ item.name }}</span>
                        </div>

                        <br *ngIf="item.name.length===0" clear="left" />
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
            <div
                cdkScrollable
                class="full-height md-no-animation"
                cdkDropList
                cdkDropListOrientation="vertical"
                [cdkDropListData]="tab.items"
                (cdkDropListDropped)="dropCategory($event)"
            >
                <div cdkDropListGroup>
                    <ng-container *ngFor="let group of tab.items">
                        <div cdkDrag [cdkDragDisabled]="!editMode">
                            <br clear="left" />
                            <div clear="left" class="groupDevider">
                                <mat-icon *ngIf="editMode" class="dragHandle" cdkDragHandle
                                    >open_with</mat-icon
                                >

                                <span
                                    contenteditable
                                    class="groupName"
                                    (keydown)="editCategoryName($event,group)"
                                    >{{group.name}}</span
                                >
                            </div>
                            <div
                                class="dropLists"
                                cdkDropList
                                cdkDropListOrientation="horizontal"
                                [cdkDropListData]="menu.groups[group.id]"
                                (cdkDropListDropped)="drop($event)"
                            >
                                <ng-container *ngFor="let item of menu.groups[group.id]">
                                    <div
                                        *ngIf="item.name.length > 0&& item.price"
                                        class="resize button Item"
                                        [class.Group]="item.items?.length "
                                        attr.data-id="{{ item.id }}"
                                        (click)="markItem(item)"
                                        cdkDrag
                                        [cdkDragDisabled]="!editMode"
                                    >
                                        <span class="center3">{{ item.name }}</span>
                                    </div>

                                    <br *ngIf="item.name.length == 0" clear="left" />
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>

                    <br clear="left" />

                    <div clear="left" class="groupDevider">
                        <span class="groupName"> други </span>
                    </div>

                    <div
                        class="dropLists"
                        cdkDropList
                        cdkDropListOrientation="horizontal"
                        [cdkDropListData]="menu.rest[tab.id]"
                        (cdkDropListDropped)="drop($event)"
                    >
                        <ng-container *ngFor="let item of menu.rest[tab.id]">
                            <div
                                *ngIf="item.name.length > 0 && item.price"
                                class="resize button Item"
                                [class.Group]="item.items?.length "
                                attr.data-id="{{ item.id }}"
                                (click)="markItem(item)"
                                cdkDrag
                                [cdkDragDisabled]="!editMode"
                            >
                                <span class="center3">{{ item.name }}</span>
                                <!-- <div
                        class="groupIcon"
                        *ngIf="item.is_group>0"
                        (click)="filterSubItems($event,item.id);false"
                        (contextmenu)="onContextMenu($event)"
                    >
                        <mat-icon>menu</mat-icon>
                    </div> -->
                            </div>

                            <br *ngIf="item.name.length == 0" clear="left" />
                        </ng-container>
                    </div>
                    <button mat-icon-button (click)="addCategory(tab.id)">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <!-- <div class="tabContainer" [@tabState]="state">
        <div class="tab" (click)="toggleOpenTables()" color="primary">opened</div>
        <div class="tabContent">text</div>
    </div> -->
</mat-sidenav-container>
<!-- <subItemList
    [hidden]="!itemSubList.items?.length"
    [data]="itemSubList"
    (closeEvent)="closeItemList()"
    (clickItemEvent)="markItem($event)"
></subItemList> -->
