<mat-sidenav-container class="sidenav-container" (contextmenu)="onContextMenu($event)">
    <!-- <app-numpad *ngIf="!order.user.id"></app-numpad> -->
    <!-- TABS    -->

    <!-- [@.disabled]="exp"
        [(selectedIndex)]="selectedIndex"
        (swipeleft)="swipeTab(1)"
        (swiperight)="swipeTab(-1)"
        (click)="clickedItem($event); (false)"
        (contextmenu)="subClick($event); (false)"
        mat-swipe-content="1"
        *ngIf="order" -->

    <mat-tab-group
        id="itemTabs"
        hidden="order.user.id"
        [selectedIndex]="selectedIdx"
        [color]="'accent'"
    >
        <!-- <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon aria-label="Side nav toggle icon">view_carousel</mat-icon>
                <span class="iconText">plan</span>
            </ng-template>

            <app-tables></app-tables>
        </mat-tab> -->
        <mat-tab *ngIf="filter.length">
            <ng-template mat-tab-label>
                <span class="iconText">Search:</span>
            </ng-template>
            <div cdkScrollable class="md-no-animation">
                <div>
                    <br clear="left" />
                    <div clear="left" class="groupDevider">
                        <span *ngIf="filtered.length" class="groupName"> Filtered Items</span>
                        <span *ngIf="!filtered.length" class="groupName"> No Items Found</span>
                    </div>

                    <div *ngFor="let item of filtered">
                        <div
                            *ngIf="item.name.length > 0 && item.price"
                            class="resize button Item"
                            [class.Group]="item.items?.length "
                            attr.data-id="{{ item.id }}"
                            (click)="markItem(item)"
                        >
                            <span class="center3">{{ item.name }}</span>
                        </div>

                        <br *ngIf="item.name.length===0" clear="left" />
                    </div>
                </div>
            </div>
        </mat-tab>

        <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
            <div cdkScrollable class="md-no-animation" cdkDropListGroup>
                <div *ngFor="let group of tab.items">
                    <br clear="left" />
                    <div
                        clear="left"
                        class="groupDevider"
                        [ngClass]="color"
                        (dragover)="color = 'green'"
                    >
                        <span class="groupName">{{ group.name }}</span>
                    </div>
                    <div
                        class="dropLists"
                        cdkDropList
                        [cdkDropListData]="group.id"
                        (cdkDropListDropped)="drop($event)"
                    >
                        <ng-container *ngFor="let item of menu.groups[group.id]">
                            <div
                                *ngIf="item.name.length > 0&& item.price"
                                class="resize button Item"
                                [class.Group]="item.items?.length "
                                attr.data-id="{{ item.id }}"
                                (click)="markItem(item)"
                                cdkDrag
                            >
                                <span class="center3">{{ item.name }}</span>
                                <!-- <div
                                class="groupIcon"
                                *ngIf="item.is_group>0"
                                (click)="filterSubItems($event,item.id);false"
                                (contextmenu)="onContextMenu($event)"
                            >
                                <mat-icon>menu</mat-icon>
                            </div> -->
                            </div>

                            <br *ngIf="item.name.length == 0" clear="left" />
                        </ng-container>
                    </div>
                </div>
                <br clear="left" />

                <div clear="left" class="groupDevider">
                    <span class="groupName"> други </span>
                </div>

                <div
                    class="dropLists"
                    cdkDropList
                    [cdkDropListData]="tab.id"
                    (cdkDropListDropped)="drop($event)"
                >
                    <ng-container *ngFor="let item of menu.getMainItems(tab.id)">
                        <div
                            *ngIf="item.name.length > 0 && item.price"
                            class="resize button Item"
                            [class.Group]="item.items?.length "
                            attr.data-id="{{ item.id }}"
                            (click)="markItem(item)"
                            cdkDrag
                        >
                            <span class="center3">{{ item.name }}</span>
                            <!-- <div
                        class="groupIcon"
                        *ngIf="item.is_group>0"
                        (click)="filterSubItems($event,item.id);false"
                        (contextmenu)="onContextMenu($event)"
                    >
                        <mat-icon>menu</mat-icon>
                    </div> -->
                        </div>

                        <br *ngIf="item.name.length == 0" clear="left" />
                    </ng-container>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
    <!-- <div class="tabContainer" [@tabState]="state">
        <div class="tab" (click)="toggleOpenTables()" color="primary">opened</div>
        <div class="tabContent">text</div>
    </div> -->
</mat-sidenav-container>
<!-- <subItemList
    [hidden]="!itemSubList.items?.length"
    [data]="itemSubList"
    (closeEvent)="closeItemList()"
    (clickItemEvent)="markItem($event)"
></subItemList> -->
