<div class="order" (contextmenu)="(false)" *ngIf="!order.showHistory">
    <br />

    <button mat-button [matMenuTriggerFor]="menu" (menuOpened)="menuOpened()">
        {{order.table.name||order.temp.table?.name||"Tables"}}
    </button>
    <div *ngIf="order.table.id"></div>
    <mat-menu #menu="matMenu">
        <ng-container *ngFor="let table of freeTables">
            <button mat-menu-item (click)="selectTable(table)">{{ table.name }}</button>
        </ng-container>
    </mat-menu>
    <div id="Order" class="">
        <!--<div id='lbl_Message'>  {{ order.warning }} </div>-->

        <!-- Order body -->
        <div id="orderBody">
            <!-- Order HEADER -->
            <div id="orderLabel">
                <br />
                {{order.state||order.temp.state}}
            </div>

            <app-item-list [itemList]="order.items" (markItemEvent)="markItem($event)">
            </app-item-list>

            <div id="orderTotal" *ngIf="order.sumTotal||order.temp.total">
                {{ (order.sumTotal||order.temp.total)| number: "1.2-2" }} лв.
            </div>
        </div>
        <!-- /Order body -->

        <!-- Buttons -->

        <app-order-buttons> </app-order-buttons>

        <!-- /Buttons -->
    </div>
</div>

<!--
<div id="orderHeader">
  <div
    id="tableName"
    (click)="tableNameClick($event)"
    class="post-title "
  >
    <span *ngIf="!order.table.name && !order.table.comment">
      . . . <br
    /></span>
    <span *ngIf="order.table.name">
      {{ order.table.name }}
      <span id="clientId" *ngIf="order.table.clientID">
        {{ order.table.clientID }}
      </span>
      <br
    /></span>

    <span id="tableComment" *ngIf="order.table.comment">
      {{ order.table.comment }}
    </span>
    <span id="tableDisc" *ngIf="order.table.disc">
      {{ order.table.disc }}%</span
    >
  </div>
</div>
  <div id="orderLabel" *ngIf="!order.table.disc"><br />

  </div> -->
