.order {
  min-width: 249px;
  text-align: center;
  position: relative;
  /* z-index: 1; */
  height: 55%;
  width: 100%;
  min-height: 235px !important;
}

#orderBody {
  position: absolute;

  /*     background: none repeat scroll 0px 0px rgba(240, 235, 229, 0.85); */
  width: 100%;
  height: 90%;
  /* font-weight: bold; */
  font-size: 20px;
  /* font-family: "lucida grande","lucida sans unicode",calibri,arial,helvetica,sans,freesans,jamrul,garuda,kalimati; */
  opacity: 0.9;
}

#lbl_Message {
  position: absolute;
  margin-top: -12px;
  height: 22px;
  text-align: center;
  color: red;
  z-index: 11;
}

div#lbl_pin {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 36px;
  width: 36px;
  z-index: 999;
  /*background: url("../icons/plus_51x51.png") no-repeat scroll center center / 40px 40px rgba(0, 0, 0, 0);*/
}

div#orderHeader {
  cursor: pointer;
  width: 100%;
}

#tableName {
  /* z-index: 999999; */
  margin-bottom: 2px;
  text-align: center;
  font-size: 20px;

  width: 97%;
  height: 48px;
  margin-left: 5px;
}

@media screen and (min--moz-device-pixel-ratio: 0) {
  div#orderHeader {
    padding-top: 10px;
  }
}

#clientId {
  color: brown;
}

#tableComment {
  color: #990000;
  font-size: 16px;
  margin-top: -5px;
}

#tableDisc {
  color: blue;
  font-size: 15px;
}

#orderLabel {
  font-size: 30px;
}

#lbl_Status {
  font-weight: normal;
  font-size: 22px;
  /* font-family: "Palatino Linotype",Georgia,Serif; */
}

.discount {
  font-size: 0.7em;
  font-weight: normal;
  color: #2858d2;
}

del {
  text-decoration: line-through;
  color: #990000;
}

del span {
  color: DarkOliveGreen;
  font-size: 0.7em;
}

.totalBottom {
  font-weight: bold;
  font-size: 110%;
  color: darkred;
  /*     text-shadow: 1px 1px 1px #000000;  */
}

#orderTotal {
  bottom: 2%;
  /* font-family: "Palatino Linotype",Georgia,serif; */
  font-size: 36px;
  height: auto;
  padding-left: 25px;
  position: absolute;
  right: 25px;
}

.page_item {
  min-width: 72px !important;
}
