@import '/src/assets/styles/styles-variables.scss';

:host {
    color: mat-color($hover-bg, 600);
    font-size: 13px;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    background-color: mat-color($hover-bg, 600);
}

input {
    font-family: 'Roboto';
    font-size: 24px;
}
.example-container {
    background-color: white;
    border-radius: 2px;
    margin: 0px auto;
    margin-top: 10%;
    padding-top: 4%;
    width: 450px;
    height: 450px;
    text-align: center;
}

.form-container {
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;
}

.form-field {
    display: block;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0.5em;
}

.button {
    color: white;
    font-family: 'Roboto';
    font-weight: bold;

    width: 100%;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-button-disabled {
    color: white;
    background-color: mat-color($webapp-primary, 900, 80%);
}

.form-field.ng-invalid.ng-touched {
    border-style: none;
}

#workflowExpained {
    height: 77px;
}

input {
    font-size: large;
}

.error {
    margin-top: 0px;
}

::ng-deep {
    .form-field .mat-form-field-subscript-wrapper {
        margin-top: 0.1em;
    }

    .form-field.ng-invalid.ng-touched {
        border-color: grey;
    }
}
