<div #focus class="example-container" [class.mat-elevation-z2]="true">
    <div class="logo">
        <img src="./assets/Helvetic Logo.jpg" class="img-responsive" alt="Logo" />
    </div>

    <div class="form-container">
        <form [formGroup]="resetForm" autocomplete="off" (submit)="onSubmit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> {{'COMMON.EMAIL' | translate}}</mat-label>
                <input
                    id="email"
                    type="email"
                    matInput
                    formControlName="email"
                    required
                    autocomplete="off"
                />
                <mat-error *ngIf="resetForm.controls.email.invalid">
                    <span
                        id="emailRequiredErr"
                        class="error"
                        *ngIf="resetForm.controls.email.errors?.required"
                        >{{'COMMON.VALIDATORS.REQUIRED_EMAIL' | translate}}</span
                    >
                    <span class="error" *ngIf="resetForm.controls.email.errors?.pattern"
                        >{{ 'COMMON.VALIDATORS.INVALID_EMAIL' | translate }}</span
                    >
                </mat-error>
                <!-- <mat-error *ngIf="noTouchError&&!resetForm.controls.email.errors?.pattern">
                    <span class="error">{{ noTouchError }}</span>
                </mat-error> -->
            </mat-form-field>

            <div id="workflowExpained">{{ 'COMMON.FORGOTTEN_PASS_EXPLAIN' |translate}}</div>

            <button
                color="primary"
                mat-raised-button
                full-width
                type="submit"
                class="button form-field"
                [disabled]="resetForm.controls.email.invalid"
            >
                {{'COMMON.RESET_PASS' | translate}}
            </button>
            <a color="primary 500" [routerLink]="['/login']"
                >{{'RESET_PASS.REMEMBER' | translate}}</a
            >
        </form>
    </div>
</div>
