<app-header
    (toggleLeftBarForMe)="leftBarToggler()"
    (toggleRightBarForMe)="rightBarToggler()"
></app-header>
<mat-drawer-container>
    <mat-drawer id="leftDrawer" mode="side" [opened]="leftBarOpen" position="start">
        <app-sidebar *ngIf="user?.id"></app-sidebar>
    </mat-drawer>
    <mat-drawer id="rightDrawer" mode="side" [opened]="rightBarOpen" position="end">
        <right-bar *ngIf="user?.id"></right-bar>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
