::host {
    height: 100%;
}

div#historyFrame {
    font-size: 1.2em;
    height: 37%;
    margin-top: 60px;
    width: 98%;
}

#historyContainer {
    height: 95%;
    margin-top: 17px;
    margin: 0 5px 5px;
    overflow: auto;
    max-height: 50vh;
    width: 100%;
}

.fullLength {
    max-height: 86vh !important;
}

#historyLabel {
    height: 20px;
    width: 100%;
    margin-top: -30px;
    /* font-weight: 500; */
    height: 79%;
    width: 68%;
    min-height: 100px;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    z-index: 0;
    .mat-icon {
        right: 10px;
        position: fixed;
        zoom: 1.5;
    }
}
.historyHeader {
    border-bottom: 1px dashed;
    width: 100%;
}

.time {
    font-size: 10px;
}

.userName {
    font-weight: 300;
}

.table_name {
    display: inline-block;
    font-weight: 500;
}

.comment {
    color: #990000;
}

.clientId {
    color: brown;
}

.fade {
    opacity: 0.6;
}

.historyOrder {
    margin-bottom: 3px;
    margin-right: 5px;
    background: rgb(228, 228, 228);
    border-radius: 10px;
    padding-top: 2px;
    padding-right: 5px;
    margin-top: 10px;
}

.orderDetailsList {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 6px;
    list-style: none;
}

.orderCLosed {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: blue;
}

.itemPrice {
    float: right;
    font-weight: normal;
    margin-right: 11px;
    color: black;
    font-size: 0.8em;
}

#user_name {
    /*background: transparent url("../icons/post-info.png") no-repeat scroll 0 0;*/
    /* color: #6167e0; */
    color: #000;
    display: block;
    font-family: monospace;
    font-size: 1.1em;
    font-weight: 500 !important;
    font-family: Roboto;
    margin-bottom: -18px;
    margin-top: 0px;
    min-height: 20px;
    /* padding-left: 6px; */
    padding-top: 0;
}

.bottom_total {
    position: relative;
    border-top: 1px solid;
    width: 95%;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.total {
    /* position: relative; */
    /* right: -50px; */
    color: darkred;
    font-size: 110%;
    // font-weight: bold;
    right: -12.6vw;
    position: relative;
}

.discountTotal {
    right: -14.6vw;
    position: relative;
    color: blue;
}

.sub {
    font-size: 0.8em;
    padding-left: 14px;
}
