<h2 matDialogTitle>{{(data.title|translate )}}</h2>
<mat-dialog-content>
    <p>{{data.text|translate}}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <!--
    Note that you can pass in anything to the `matDialogClose` attribute. This also includes objects, arrays, etc.
    Just make sure that you make it a property binding with those [] brackets
    Example: <button mat-button [matDialogClose]="{'lol': true}">Cancel</button>
  -->
    <button mat-button [matDialogClose]="true" color="primary">{{data.confirm|translate}}</button>
    <button mat-button [matDialogClose]="false" color="default">{{data.cancel|translate}}</button>
</mat-dialog-actions>
