@font-face {
    font-family: 'Rand-Medium';
    src: url('Rand-Medium.woff2') format('woff2'), url('Rand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rand-Regular';
    src: url('Rand-Regular.woff2') format('woff2'), url('Rand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rand';
    src: url('Rand-Regular.woff2') format('woff2'), url('Rand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rand-Bold';
    src: url('Rand-Bold.woff2') format('woff2'), url('Rand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fontello';
    src: url('./fontello/fontello.eot?2022');
    src: url('./fontello/fontello.eot?2022#iefix') format('embedded-opentype'),
        url('./fontello/fontello.woff2?2022') format('woff2'),
        url('./fontello/fontello.woff?2022') format('woff'),
        url('./fontello/fontello.ttf?2022') format('truetype'),
        url('./fontello/fontello.svg?2022#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
